# Ignore all files
/*

# Except .gitignore
!.gitignore

# Except bash configuration files
!.bashrc
!.bash_logout
!.bash_profile

# Except bin folder
!bin/

# Set a temporary exception on the .config folder (otherwise Git can’t go down into it)
!.config/

# Then Ignore everything inside in .config/
.config/*

# Except specific configuration files and folders
!.config/gamemode.ini
!.config/scopebuddy/
!.config/MangoHud/
!.config/htop/
!.config/corectrl/
!.config/kwinrc
